@model JobApplication

@{ ViewBag.Title = "Job Application";}

<div class="row page-box">
    <h1>@Model.LastName @Model.FirstName @Model.JobOffer.JobTitle</h1>
    <div class="col-sm-4">
        <div class="offer-details">
            <div>
                <label>First Name:</label>
                <span>@Model.FirstName</span>
            </div>
            <div>
                <label>Last Name:</label>
                <span>@Model.LastName</span>
            </div>
            <div>
                <label>Offer:</label>
                <span>@Model.JobOffer.JobTitle</span>
            </div>
            <div>
                <label>Phone Number:</label>
                <span>@Model.PhoneNumber</span>
            </div>
            <div>
                <label>Email Adress:</label>
                <span>@Model.EmailAddress</span>
            </div>
            <div>
                <label>CvUrl:</label>
                <span>@Model.CvUrl</span>
            </div>
            <div>
                <label>Contract Agreement:</label>
                <span>@Model.ContactAgreement</span>
            </div>
        </div>
    </div>
    @Html.ActionLink("Go back to Job Applications", "Index", "JobApplications", null, new { @class = "btn btn-primary" })
</div>